button {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  button:hover {
    background-color: #0062cc;
    cursor: pointer;
  }

  .color-yellowgreen {
    color: yellowgreen;
  }
  
  .color-red {
    color: red;
  }

  .color-blue {
    color: blue;
  }